.errorMark {
  width: 80px;
  height: 115px;
  margin: 0 auto;
}

.crossIcon {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  box-sizing: content-box;
  border: 6px solid var(--checkmark-circle);
}

.iconLine {
  height: 8px;
  background-color: var(--checkmark-border);
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  transform-origin: center;
}

.lineLeft {
  top: 38px;
  left: 16px;
  width: 47px;
  transform: rotate(45deg);
  animation: icon-line-left 0.75s;
}

.lineRight {
  top: 38px;
  left: 16px;
  width: 47px;
  transform: rotate(-45deg);
  animation: icon-line-right 0.75s;
}

.iconCircle {
  top: -4px;
  left: -4px;
  z-index: 10;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-sizing: content-box;
  border: 6px solid var(--checkmark-circle);;
}

@keyframes icon-line-left {
  0% {
    width: 0;
    top: 38px;
    left: 40px;
  }
  60% {
    width: 0;
    top: 38px;
    left: 40px;
  }
  100% {
    width: 47px;
    top: 38px;
    left: 16px;
  }
}

@keyframes icon-line-right {
  0% {
    width: 0;
    top: 38px;
    left: 40px;
  }
  60% {
    width: 0;
    top: 38px;
    left: 40px;
  }
  100% {
    width: 47px;
    top: 38px;
    left: 16px;
  }
}